In [17]:
def student_num():
    return int(input("The number of students: "))
def student_info(id):
    name= str(input("Name of the student: "))
    DoB= str(input("DoB of the student: "))
    student= {'ID': id, 'Name': name, 'DoB': DoB}
    return student
def course_num():
    return int(input("The number of courses: "))
def course_info(id):
    name= str(input("Name of the course: "))
    course= {'ID': id, 'Name': name}
    return course

def score(course_id, student_id):
    mark= int(input("Mark of the student in this course: "))
    score= {'Student ID': student_id, 'Course ID': course_id, 'Mark': mark}
    return score

def list_course(courses):
    for course in courses:
        print("Course ID: "+ course['ID'])
        print("Course name: "+ course['Name'])

def list_student(students):
    for student in students:
        print("Student ID: "+ student['ID'])
        print("Student name: "+ student['Name'])
        print("DoB: "+ student['DoB'])

def list_mark(course_id, marks):
    print("Course ID: "+ course_id)
    for mark in marks:
        if mark['Course ID'] == course_id: 
            print("Student ID: "+ mark['Student ID'])
            print("Mark: "+ str(mark['Mark']))

student_num()
student_1= student_info("23BI14345")
student_2= student_info("23BI14296")
students= [student_1, student_2]

course_num()
course_1= course_info("FR2.001")
course_2= course_info("FR2.002")
courses= [course_1, course_2]

mark_1= score("FR2.001", "23BI14345")
mark_2= score("FR2.001", "23BI14296")
mark_3= score("FR2.002", "23BI14345")
mark_4= score("FR2.002", "23BI14296")
marks= [mark_1, mark_2, mark_3, mark_4]

list_course(courses)
list_student(students)
list_mark("FR2.001", marks)

The number of students:  2
Name of the student:  Ngoc
DoB of the student:  23BI14345
Name of the student:  Minh
DoB of the student:  23BI14296
The number of courses:  2
Name of the course:  French 2.001
Name of the course:  French 2.002
Mark of the student in this course:  20
Mark of the student in this course:  20
Mark of the student in this course:  20
Mark of the student in this course:  20

Course ID: FR2.001
Course name: French 2.001
Course ID: FR2.002
Course name: French 2.002
Student ID: 23BI14345
Student name: Ngoc
DoB: 23BI14345
Student ID: 23BI14296
Student name: Minh
DoB: 23BI14296
Course ID: FR2.001
Student ID: 23BI14345
Mark: 20
Student ID: 23BI14296
Mark: 20

Mark of the student in this course:  20
Mark of the student in this course:  20
Mark of the student in this course:  20
Mark of the student in this course:  20

Course ID: FR2.001
Student ID: 23BI14345
Mark: 20
Student ID: 23BI14296
Mark: 20