In [6]:
class Student:
    def __init__(self, id, name, dob):
        self.id= id
        self.name= name
        self.dob= dob

class Course:
    def __init__(self, id, name):
        self.id= id
        self.name= name

class StudentMark:
    def __init__(self, course_id, student_id, score):
        self.course_id= course_id
        self.student_id= student_id
        self.score= score

def student_num():
    return int(input("The number of students: "))

def course_num():
    return int(input("The number of courses: "))

def list_course(courses):
    for course in courses:
        print("Course ID: "+ course.id)
        print("Course name: "+ course.name)

def list_student(students):
    for student in students:
        print("Student ID: "+ student.id)
        print("Student name: "+ student.name)
        print("DoB: "+ student.dob)

def list_mark(course_id, marks):
    print("Course ID: "+ course_id)
    for mark in marks:
        if mark.course_id == course_id: 
            print("Student ID: "+ mark.student_id)
            print("Mark: "+ str(mark.score))

student_1= Student("23BI14345","Hngoc","22/04/2005")
student_2= Student("23BI14296", "Qminh", "06/02/2005")
students= [student_1, student_2]

course_1= Course("FR2.001", "French 2.001")
course_2= Course("FR2.002", "French 2.002")
courses= [course_1, course_2]

mark_1= StudentMark("FR2.001", "23BI14345", 20)
mark_2= StudentMark("FR2.001", "23BI14296", 20)
mark_3= StudentMark("FR2.002", "23BI14345", 20)
mark_4= StudentMark("FR2.002", "23BI14296", 20)
marks= [mark_1, mark_2, mark_3, mark_4]

student_num()
course_num()
list_course(courses)
list_student(students)
list_mark("FR2.002", marks)

The number of students:  2
The number of courses:  2

Course ID: FR2.001
Course name: French 2.001
Course ID: FR2.002
Course name: French 2.002
Student ID: 23BI14345
Student name: Hngoc
DoB: 22/04/2005
Student ID: 23BI14296
Student name: Qminh
DoB: 06/02/2005
Course ID: FR2.002
Student ID: 23BI14345
Mark: 20
Student ID: 23BI14296
Mark: 20